<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="C:/Users/roman.diachuk/IdeaProjects/calcio-web-app/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/calcio.log</file>
        <encoder>
            <pattern>%d{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-5level %logger.%M %L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.rdiachuk.edu.calcio" level="DEBUG">
        <appender-ref ref="FILEOUT"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>