<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Specific Team</span></div>
        <div class="panel-body">
            <div class="formcontainer">
                <div class="alert alert-success" role="alert" ng-if="teamCtrl.successMessage">{{teamCtrl.successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-if="teamCtrl.errorMessage">{{teamCtrl.errorMessage}}</div>
                <form ng-submit="teamCtrl.submit()" name="teamForm" class="form-horizontal">
                    <input type="hidden" ng-model="teamCtrl.team.id" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="tname">Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="teamCtrl.team.name" id="tname" class="username form-control input-sm" placeholder="Enter team name" required ng-minlength="3"/>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">-->
                        <!--<div class="form-group col-md-12">-->
                            <!--<label class="col-md-2 control-lable" for="age">Age</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input type="text" ng-model="ctrl.user.age" id="age" class="form-control input-sm" placeholder="Enter your Age." required ng-pattern="ctrl.onlyIntegers"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                        <!--<div class="form-group col-md-12">-->
                            <!--<label class="col-md-2 control-lable" for="salary">Salary</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input type="text" ng-model="ctrl.user.salary" id="salary" class="form-control input-sm" placeholder="Enter your Salary." required ng-pattern="ctrl.onlyNumbers"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit"  value="{{!teamCtrl.team.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="teamForm.$invalid || teamForm.$pristine">
                            <button type="button" ng-click="teamCtrl.reset()" class="btn btn-warning btn-sm" ng-disabled="teamForm.$pristine">Reset Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Teams</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <!--<th>AGE</th>-->
                        <!--<th>SALARY</th>-->
                        <th width="100"></th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="team in teamCtrl.getAllTeams()">
                        <td>{{team.id}}</td>
                        <td>{{team.name}}</td>
                        <!--<td>{{u.age}}</td>-->
                        <!--<td>{{u.salary}}</td>-->
                        <td><button type="button" ng-click="teamCtrl.editTeam(team.id)" class="btn btn-success custom-width">Edit</button></td>
                        <td><button type="button" ng-click="teamCtrl.removeTeam(team.id)" class="btn btn-danger custom-width">Remove</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>